:root {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    animation-duration: 0.8s;
    a {
        color: black;
    }
    a:hover {
        color: black;
    }
}

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

//header
header.index {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    padding-top: 45px;
    .invisible_link {
        text-align: center;
        margin: 20px;
        font-size: 18px;
        font-weight: bold;
        color: black;
        background: $color-secondary_bg;
        padding: 5px;
        width: 180px;
        border-radius: 5px;
        align-self: center;
    }
    @media #{$mobile-only} {
        header {
            width: 100%;
        }
        .invisible_link {
            display: none;
        }
        .wrapper_header {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            grid-template-areas: "a b" "c c";
            .logo {
                grid-area: a;
                width: 150px;
            }
            h1 {
                grid-area: b;
                justify-self: right;
                font-size: 1.4vh;
                
            }
            .nav_header__list {
                grid-area: c;
                flex-wrap: wrap;
                width: 200%;
                justify-content: center;
            }
        }
    }
}

.wrapper_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    h1 {
        font-size: 36px;
        font-weight: 400;
        color: $color_primary_bg;
    }
}

.nav_header__list {
    display: flex;
    flex-wrap: wrap;
    li {
        @include tag;
        cursor: pointer;
        &:hover {
            background: $color-secondary_bg;
        }
    }
    .tag_activ {
        background: $color_primary_bg;
        color: $font_color_primary_bg;
    }
}

.contener {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    @media #{$mobile-only} {
        display: unset;
    }
}

main {
    margin-top: 50px;
    .photographers {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        justify-content: space-evenly;
    }
    .photographe {
        display: inline-block;
        width: 100%;
        a {
            padding-top: 45px;
            @media #{$mobile-only} {
                padding-top: 20px;
            }
            // @media #{$tablet-only}{
            //     padding-top: 20px;
            // }
            
        }
        a,
        .text_for_photographer {
            display: flex;
            flex-direction: column;
            width: 100%;
            min-width: fit-content;
            justify-content: center;
            align-items: center; 
            margin-bottom: 40px;
            @media #{$mobile-only} {
                margin-bottom: 20px;
            }
            @media #{$tablet-only}{
                margin-bottom: 20px;
            }
           
        }
        .parent_img {
            border-radius: 50%;
            height: 200px;
            width: 200px;
            overflow: hidden;
            position: relative;
            box-shadow: 0 4px 4px lighten($font_color-secondary_1, 50%);
            margin-bottom: 20px;
        }
        img.img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            position: absolute;
            top: 0;
            left: 0;
        }
        h2 {
            font-size: 3vh;
            font-weight: 400;
            color: $font_color_primary;
            margin-bottom: 15px;
            @media #{$tablet-only}{
                font-size: 27px;
            }
        }
        
        .city {
            font-size: 1.2vh;
            color: $color_primary_bg;
            margin-bottom: 5px;
            
        }
        .tagline {
            font-size: 1vh;
            margin-bottom: 5px;
        }
        .price {
            font-size: 1vh;
            color: #757575;
            margin-bottom: 5px;
        }

        @media #{$mobile-only} {
            .city{
                font-size: 18px;
            }
            .tagline, .price{
                font-size: 14px;
            }
        }
        @media #{$tablet-only}{
            .city{
                font-size: 18px;
            }
            .tagline, .price{
                font-size: 14px;
                text-align: center;
            }
        }
        .tags {
            display: flex;
        }
        .tag {
            @include tag;
            &:hover {
                background: $color-secondary_bg;
            }
        }
    }
    @media #{$mobile-only} {
        .photographers {
            display: flex;
            flex-direction: column;
        }
    }
}