body {
    width: 80%;
    margin: 0 auto;
}

header {
    padding-top: 2vh;
}

._lock {
    overflow: hidden;
}

.fas {
    width: 10px;
    height: 10px;
}

.rating_price_likes {
    position: fixed;
    z-index: 2;
    bottom: 0px;
    right: 50px;
    width: 20vw;
    min-width: 150px;
    height: 6vh;
    background: $color-secondary_bg;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2vh;
    .wrapper_likes {
        display: flex;
    }
}

.btn {
    width: 170px;
    height: fit-content;
    min-height: 45px;
    background: $color_primary_bg;
    color: $font_color_primary_bg;
    border-radius: 10px;
    font-weight: bold;
    .display_none {
        display: none;
    }
    .underline {
        border-bottom: 1px solid $font_color_primary_bg;
    }
}

section.photographe_perso {
    display: grid;
    grid-template-areas: "a b c";
    grid-template-columns: 1.2fr 1fr 1fr;
    justify-items: start;
    background: $color-secondary_bg_1;
    padding: 2rem;
    position: relative;
    .wraper_info_perso {
        grid-area: a;
        display: grid;
        grid-template-rows: 1fr 0.5fr 0.5fr;
        h2 {
            font-size: 5.5vh;
            margin-bottom: 10px;
            grid-row-start: 1;
        }
        .citi_tagline_perso {
            grid-row-start: 2;
        }
        .city {
            font-size: 2vh;
            margin-bottom: 10px;
        }
        .tagline {
            font-size: 1.3vh;
            margin-bottom: 10px;
        }
        .tags_perso {
            grid-row-start: 3;
        }
        .tag_perso {
            font-size: 1.4vh;
        }
    }
    .form_modal {
        grid-area: b;
        width: 15vh;
        height: 6vh;
        background: $color_primary_bg;
        color: white;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        align-self: start;
        margin-top: 25px;
        cursor: pointer;
    }
    .parent_img_perso {
        grid-area: c;
        justify-self: end;
    }
}

@media #{$mobile-only} {
    section.photographe_perso {
        grid-template-areas: "a b";
        grid-template-columns: 2.3fr .7fr;
        background: unset;
        padding: unset;
        .form_modal {
            position: fixed;
            z-index: 10;
            bottom: 50px;
            width: 25vh;
            height: 5vh;
            right: calc((100% - 25vh)/2);
        }
        .wraper_info_perso {
            display: flex;
            flex-direction: column;
            h2 {
                font-size: 4vh;
            }
            .city {
                font-size: 1.4vh;
            }
            .tag_perso:first-child {
                margin-left: 0;
            }
        }
        .parent_img_perso {
            grid-area: b;
            width: 80px;
            height: 80px;
        }
    }
    .rating_price_likes {
        display: none;
    }
}

.menu_sortBy {
    display: flex;
    margin-top: 1vh;
    margin-bottom: 2vh;
    h2 {
        margin-right: 1rem;
        font-weight: bold;
        font-size: 1.5vh;
    }
}

@media #{$mobile-only} {
    .menu_sortBy {
        display: none;
    }
    main section.photographer_info {
        margin-bottom: 25px;
    }
}

ul.sort_media {
    z-index: 10;
}

.wrapper_media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-content: space-evenly;
}

article.media {
    width: 350px;
    height: 350px;
    margin-bottom: 2vh;
    a.media {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    .media_content {
        width: 350px;
        height: 300px;
        overflow: hidden;
        position: relative;
        border-radius: 5%;
        min-width: fit-content;
        img,
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            position: absolute;
            top: 0;
            left: 0;
            margin-bottom: 10px;
        }
    }
    .description {
        color: $font_color-secondary_2;
        font-weight: 400;
        font-size: 2vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 1vh;
    }
}

@media #{$mobile-only} {
    .wrapper_media {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        justify-content: space-evenly;
        article.media {
            height: 210px;
            .media_content {
                width: 335px;
                height: 190px;
            }
        }
    }
}

//page modal
.bground {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(196, 196, 196, 0.4);
}

.content {
    margin: 10% auto;
    width: 100%;
    max-width: 500px;
    // animation-name: modalopen;
    animation-duration: var(--modal-duration);
    background: #DB8876;
    opacity: 1;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: black;
    padding-top: 10px;
    @media #{$mobile-only} {
        margin: unset;
        height: 100%;
    }
}

.modal-body {
    padding: 15px 8%;
    // margin: 50px auto;
    margin: 0 auto 25px auto;
}

.content h2 {
    font-size: 4vh;
    padding: 15px 8%;
}

label {
    font-family: var(--font-default);
    font-size: 17px;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 11px;
}

input,
#message {
    padding: 8px;
    border: 0.8px solid #ccc;
    outline: none;
}

.text-control {
    margin: 0;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    height: 48px;
}

#message {
    height: 150px;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: #e54858;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
    opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
    border: 2px solid #e54858;
}

.checkbox-label,
.checkbox2-label {
    position: relative;
    margin-left: 36px;
    font-size: 12px;
    font-weight: normal;
}

.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #279e7a;
    border-radius: 50%;
    text-indent: 29px;
    white-space: nowrap;
    position: absolute;
    left: -30px;
    top: -1px;
    transition: 0.3s;
}

.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
    content: "";
    width: 13px;
    height: 13px;
    background-color: #279e7a;
    border-radius: 50%;
    text-indent: 29px;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    opacity: 0;
}

.checkbox-input {
    display: none;
}

.checkbox-input:checked+.checkbox-label .checkbox-icon::after,
.checkbox-input:checked+.checkbox2-label .checkbox-icon::after {
    opacity: 1;
}

.checkbox-input:checked+.checkbox2-label .checkbox-icon {
    background: #279e7a;
}

.checkbox2-label .checkbox-icon {
    border-radius: 4px;
    border: 0;
    background: #c4c4c4;
}

.checkbox2-label .checkbox-icon::after {
    width: 7px;
    height: 4px;
    border-radius: 2px;
    background: transparent;
    border: 2px solid transparent;
    border-bottom-color: #fff;
    border-left-color: #fff;
    transform: rotate(-55deg);
    left: 21%;
    top: 19%;
}

.close {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;
    height: 32px;
    opacity: 1;
    cursor: pointer;
    transform: scale(0.7);
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 45px;
    width: 3px;
    background-color: #fff;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

input.btn-submit {
    width: 170px;
    height: 55px;
    color: #fff;
    background: #901C1C;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
}

.bgPhoto {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #E5E5E5;
    .close {
        &::before,
        &::after {
            height: 50px;
            width: 7px;
            background-color: #901C1C;
        }
    }
    .content {
        max-width: unset;
        // margin: 10% auto;
        width: 100%;
        height: 100%;
        // animation-name: modalopen;
        // animation-duration: var(--modal-duration);
        background: #E5E5E5;
        opacity: 1;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        color: black;
        padding-top: 10px;
        margin: 0 auto;
    }
    .slider {
        display: flex;
        height: 80%;
        margin-top: 10%;
        align-items: center;
        .slideLeft {
            position: relative;
            width: 32px;
            height: 32px;
            opacity: 1;
            cursor: pointer;
            transform: scale(0.7);
            z-index: 11;
            margin: 0 30px 0 100px;
            &::before,
            &::after {
                position: absolute;
                content: "";
                height: 33px;
                width: 7px;
                background-color: #901C1C;
                transform: rotate(45deg);
            }
            &::after {
                top: 21px;
                transform: rotate(-45deg);
            }
        }
        .slideRight {
            position: relative;
            width: 32px;
            height: 32px;
            opacity: 1;
            cursor: pointer;
            transform: scale(0.7);
            margin: 0 100px 0 30px;
            &::before,
            &::after {
                position: absolute;
                content: "";
                height: 33px;
                width: 7px;
                background-color: #901C1C;
                transform: rotate(-45deg);
            }
            &::after {
                top: 21px;
                transform: rotate(45deg);
            }
        }
        .modal-bodyPhotoGallery {
            overflow: hidden;
            position: relative;
            border-radius: 5px;
            padding: unset;
            video,
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                // position: absolute;
                // top: 0;
                // left: 0;
                // margin-bottom: 10 px;
            }
        }
    }
}