body {
    width: 80%;
    margin: 0 auto;
}

header {
    padding-top: 2vh;
}

._lock {
    overflow: hidden;
}

.rating_price_likes {
    position: fixed;
    z-index: 2;
    bottom: 0px;
    right: 50px;
    width: 20vw;
    min-width: 150px;
    height: 6vh;
    background: $color-secondary_bg;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2vh;
    .wrapper_likes {
        display: flex;
    }
}

.liked {
    color: darken(#901C1C, 20%);
}

section.photographe_perso {
    display: grid;
    grid-template-areas: "a b c";
    grid-template-columns: 1.2fr 1fr 1fr;
    justify-items: start;
    background: $color-secondary_bg_1;
    padding: 2rem;
    position: relative;
    .wraper_info_perso {
        grid-area: a;
        display: grid;
        grid-template-rows: 1fr 0.5fr 0.5fr;
        h2 {
            font-size: 5.5vh;
            margin-bottom: 10px;
            grid-row-start: 1;
        }
        .citi_tagline_perso {
            grid-row-start: 2;
        }
        .city {
            font-size: 2vh;
            margin-bottom: 10px;
        }
        .tagline {
            font-size: 1.3vh;
            margin-bottom: 10px;
        }
        .tags_perso {
            grid-row-start: 3;
        }
        .tag_perso {
            font-size: 1.4vh;
        }
    }
    .form_modal {
        grid-area: b;
        width: 15vh;
        height: 6vh;
        background: $color_primary_bg;
        color: white;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        align-self: start;
        margin-top: 25px;
        cursor: pointer;
    }
    .parent_img_perso {
        grid-area: c;
        justify-self: end;
    }
}

@media #{$mobile-only} {
    section.photographe_perso {
        grid-template-areas: "a b";
        grid-template-columns: 2.3fr .7fr;
        background: unset;
        padding: unset;
        .form_modal {
            position: fixed;
            z-index: 10;
            bottom: 50px;
            width: 25vh;
            height: 5vh;
            right: calc((100% - 25vh)/2);
        }
        .wraper_info_perso {
            display: flex;
            flex-direction: column;
            h2 {
                font-size: 4vh;
            }
            .city {
                font-size: 1.4vh;
            }
            .tag_perso:first-child {
                margin-left: 0;
            }
        }
        .parent_img_perso {
            grid-area: b;
            width: 80px;
            height: 80px;
        }
    }
    .rating_price_likes {
        display: none;
    }
}

.wrapper_media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-content: space-evenly;
    margin-top: 55px;
}

article.media {
    width: 350px;
    height: 350px;
    margin-bottom: 2vh;
    a.media {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    .media_content {
        width: 350px;
        height: 300px;
        overflow: hidden;
        position: relative;
        border-radius: 5%;
        min-width: fit-content;
        img,
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            position: absolute;
            top: 0;
            left: 0;
            margin-bottom: 10px;
            cursor: pointer;
        }
    }
    .description {
        color: $font_color-secondary_2;
        font-weight: 400;
        font-size: 2vh;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 1vh;
    }
}

@media #{$mobile-only} {
    .wrapper_media {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        justify-content: space-evenly;
        article.media {
            height: 210px;
            .media_content {
                width: 335px;
                height: 190px;
            }
        }
    }
}