$color_primary_bg: #901C1C;
$font_color_primary_bg: #FFFFFF;
$font_color_primary: #D3573C;
$color-secondary_bg:#DB8876;
$color-secondary_bg_1:#FAFAFA;
$font_color-secondary_1: #525252;
$font_color-secondary_2: #901C1C;